<%- include('assets/includes/layout/_start') %>

<div class="content">
	<span class="captchaText" data-text="">click "test" to start speech recognition captcha</span>
	<div class="form">
		<input type="text" name="" value="" class="userInput" data-input="" disabled>
		<input type="submit" value="Send" class="submit" disabled>
	</div>

	<button type="button" name="button" class="recognitionRepeat">Test</button>
</div>

<%- include('assets/includes/layout/_end') %>